.leftnav {
	padding: 0.5rem;
	background-color: #666;
	height: 100vh;
	min-width: 280px;
}

.leftnav .logo {
	position: relative;
	padding: 2rem 2rem 0 2rem;
	min-width: 280px;
}

.topbar {
	padding: 0.5rem;
	background-color: #999;
	position: absolute;
	width: 100%;
	height: 15%;
}

.topbar h3 {
	position: absolute;
	font-family: "balboa";
	color: #fff;
	display: table-cell;
	font-size: 2rem;
	left: 26%;
	padding: 2rem;
}

.chatbox {
	position: relative;
	width: 75%;
	height: 85vh;
	float: right;
	top: 15vh;
	margin: 0 auto;
}

.textfield {
	position: absolute;
	width: 85%;
	height: 9%;
	box-shadow: 3px 3px 5px rgba(192,192,192,0.7);
	bottom: 4%;
	left: 7%;
}

.rooms {
	display: table;
	position: relative;
	width: 100%;
	padding: 2rem;
}

.rooms h3 {
	position: relative;
	font-family: "balboa";
	color: #fff;
	display: table-cell;
	font-size: 2rem;
}

.rooms .modal-button {
	position: relative;
	display: table-cell;
	float: right;
	cursor: pointer;
}

.rooms-list li {
	cursor: pointer;
}

.rooms ul li {
	font-family: 'balboa';
	color: #fff;
}

 h2 {
	font-family: "balboa";
	color: #666;

 }

 .modal-content {
 	padding-left: 1.5rem;
 }

 .modal-content {
 	height: 3%;
 }

.user {
	padding-left: 30%;
}
