<div class="row">
	<div class="col-lg-4 topbar">
		<h3>{{room.activeRoom.name}}</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-3 leftnav">
		<div class="row">
			<div class="col-lg-12">
				<img class="logo img-responsive" src="assets/images/logo.png" alt="chatter logo">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<section class="rooms" ng-controller="ModalCtrl as modal">
					<h3>ROOMS</h3>
					<a class="modal-button" ng-click="modal.open()">
						<img src="assets/images/icon_addroom.png" alt="add room icon">
					</a>
				</section>
				
				<section class=""> 	
					<ul>
						<li ng-repeat="zebra in room.rooms" ng-click="room.setActiveRoom(zebra)">
							 {{zebra.name}}
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>	
	<div class="col-lg-9 chatbox">
		{{room.activeRoom}}
		<ul>
			<li ng-repeat="giraffe in room.listMessages">
			{{giraffe}}
			</li>
		</ul>
		

		<div class="input">
			<input type="text" class="form-control textfield" id="usr">	
		</div>
	</div>
</div>


	





