<!-- <div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'><span class="glyphicon glyphicon-remove"></div>
    <div class='ng-modal-dialog-content' ng-transclude></div>
  </div>
</div> -->

<div>
{{newChatRoom}}
	<h3>CREATE A ROOM</h3>
	<input type="text" ng-model="newChatRoom.name">
</div>
<div>
	<button type="button" class="btn btn-default cancel-btn" ng-click="cancel()">Cancel</button>
<button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>

</div>