<!-- <section class="rooms" ng-controller="ModalCtrl as modal">
	<div class="rooms">
		<h3>ROOMS</h3>
			<a class="modal-button" ng-click="modal.toggleModal()">
				<img src="assets/images/icon_addroom.png" alt="add room icon">
			</a>
				<ul>
					<li ng-repeat="room in room.rooms">
						{{room.name}}
					</li>
				</ul>
	</div>

	<modal-dialog show='modalShown' width='400px' height='60%'>
    	<div class="create-room">
    	<h3>CREATE A ROOM</h3>
			<input type="text" ng-model="room.newChatRoom.name">
			<input type="submit" ng-click="room.createNewRoom();">
		</div>
    </modal-dialog>

</section> -->

